@media only screen and (min-width: 1200px){


    html{
        scroll-behavior: smooth;
    }

    body{
		font-family: 'Comfortaa', cursive;
		font-weight: bold;
	}
    .header{
        background-color: white;
        display: grid;
        grid-template-columns: 50% 50%;
        position: sticky;
        top: 0;
    }

    .img{
        height: 100px;
        width: 300px;
        margin-top: 4%;
    }

    .header div{
        margin-left: 15%;
    }

    .menu ul{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin-top: 10%;
        margin-right:10%;

    }

    .menu ul li {
        list-style: none;
        margin-right: 10%;
    }
    .menu ul li a{
        text-decoration: none;
        font-size: 18px;
        align-items: center;
    }

}